$primary: #222;
$bordercolor: black;
$secondary: lightblue;
* {
    box-sizing: border-box;
  }

main{
    margin: 0;
    padding: 0;
}

h1{
    color: $primary;
    text-align: center;
}

h3{
    text-align: center;
}

.border{
    border: 1px solid $bordercolor;
    border-radius: 10px;
    width: 100%;
    background-color: $secondary;
    align-items: center;
    height: 240px;
    margin: 5px;
}
#container{
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "main main main";
}

.row{
    display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            column-gap: 25px;
            row-gap: 25px;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  }