
body{
    #header{
        width: 100%;
        height: 50vh;
        
        h1{
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100vh;
        }
        img{
            position: center;
            font-size: 100px;
        }
    }

}

