$primary: blue;
$secondary: lightblue;
$background: rgb(52, 136, 167);

    #header{
        width: 100%;
        height: 100vh;
        text-align: center;
        position: absolute;
        
        h1{
            width: 100%;
            height: 10vh;
        }

        img{
            width: 100%;
            height: 80vh;
        }
    }

   
        
        h2{
            width: 50%;
            height: 5vh;
            background-color: $background;
            border-radius: 10px;
            color: #fff;
            text-align: center;
        }
        

            
    
        .Wedstrijden-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            
            }

        .border{
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        background-color: $secondary;
    }