<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voetbalgeschiedenis</title>
</head>
    <body>
        <div class="achtergrond"></div>
        <div id="header">
            <h1>Dit is voetbalgeschiedenis</h1>
        </div>

        <div id="main">
            <div class="Wedstrijden">
                <div class="container">
                    <h2>Wedstrijden</h2>
                    <div class="Wedstrijden-list">
                        <div>
                            <h3>1930</h3>
                            <p>Het eerste Wk van aller tijden werd gehouden in Uruguay</p>
                            <a href="#">Learn more</a>

                        </div>
                        
                        <div>
                            <h3>1938</h3>
                            <p>Net voor de tweede wereld oorlog werd dit Wk gehouden in Frankrijk.</p>
                            <a href="#">Learn more</a>
                        </div>

                        <div>
                            <h3>2010</h3>
                            <p>Dit Wk werd gehouden in Zuid-afrika waar Nederland zowat kampioen werd maar toch werd verslagen</p>
                            <a href="#">Learn more</a>
                        </div>

                        <div>
                            <h3>2014</h3>
                            <p>Dit Wk werd gehouden in Brazillië</p>
                            <a href="#">Learn more</a>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </body>
</html>
