*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 8vh 17vh 17vh 17vh 17vh 17vh 17vh;
    grid-template-areas: 
    "logo navigatie navigatie navigatie navigatie navigatie"
    ". con con con con con"
    ". con con con con con"
    ". con con con con con"
    ". con con con con con"
    "footer footer footer footer footer footer";
}

.navigatie{
    grid-area: navigatie;
    align-self: center;
}

.nav{
    grid-area: navigatie;
}

.content{
    grid-area: con;
}




