*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container{
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 3fr;
    grid-template-areas: 
    "nav"
    "plaatje"
    "main";
}

nav{
    grid-area: nav;
}
#banner{
    grid-area: header;
    background-image: url("../assets/R.png");
    width: 100%;
    height: 80vh;
}
main{
    grid-area: main;
}



