$primary: #222;
$bordercolor: lightblue;

main{
    margin: 0;
    padding: 0;
}

h1{
    color: $primary;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    border: 5px $primary;
    border-radius: 20px;
    align-items: center;
    
}