$primary: #222;
$bordercolor: black;

main{
    margin: 0;
    padding: 0;
}

h1{
    color: $primary;
    font-size: 20px;
}

.container{
    height: 300px;
}

.card{
    border: solid;
    box-sizing: content-box;
    border-color: $bordercolor;
    display: table;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 100px;
    text-align: center;
}

.card bold{
    display: table-cell;
    vertical-align: middle;
}