<main>
    <h1>Voetbalinformatie</h1>
    <h3>Alle voetbalwedstrijden van de afgelopen jaren!</h3>
    <div class="container">
       <div class="row">
            <div class="border" *ngFor="let year of year">
                <div class="column">Jaar:</div>{{year.year}}<br>
                <div class="column">Land:</div>{{year.Country}}<br>
                <div class="column">Eerste plaats:</div>{{year.Winner}}<br>
                <div class="column">Tweede plaats:</div>{{year.Runners_Up}}<br>
                <div class="column">Derde plaats:</div>{{year.Third}}<br>
                <div class="column">Vierde plaats:</div>{{year.Fourth}}
            </div>
    </div> 
    </div>
    
</main>
