<main>
    <nav class="sidegrid">
        <img src="assets/logo.png" alt="Voetbalgeschiedenislogo">
        <ul>
            <li>
                <a routerLink="">
                    <i> Home </i>
                </a>
            </li>
            <li>
                <a routerLink="info">
                    <i>Wedstrijden </i>
                </a>
            </li>
            <li>
                <a routerLink="details">
                    <i>Details  </i>
                </a>
            </li>  
        </ul>
    </nav>
</main>