$primary: blue;
$secondary: lightblue;
$background: rgb(52, 136, 167);


nav{

   background-color: $background;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   height: 100%;
     
   ul{
        margin: 10px;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        right: 100px;
   }

   li{
        float: left;
   }

   li a{
     display: block;
     padding: 8px;
     background-color: $background;
   }

   img{
      max-width: 100px;
   }
}