<main>
    <nav class="sidegrid">
        <ul>
            <li>
                <a routerLink="">
                    <i class="material-icons"> home </i>
                </a>
            </li>
            <li>
                <a routerLink="users">
                    <i class="material-icons"> account_circle </i>
                </a>
            </li>
            <li>
                <a routerLink="details">
                    <i class="material-icons"> info </i>
                </a>
            </li>  
        </ul>
    </nav>
</main>