<main>
    <nav class="sidegrid">
        <img src="assets/logo.png" alt="Voetbalgeschiedenislogo">
        <ul>
            <li>
                <a routerLink="">
                    <i class="material-icons"> home </i>
                </a>
            </li>
            <li>
                <a routerLink="info">
                    <i class="material-icons"> info-test </i>
                </a>
            </li>
            <li>
                <a routerLink="details">
                    <i class="material-icons"> details  </i>
                </a>
            </li>  
        </ul>
    </nav>
</main>