$primary: #006DAA;
$secondary: #B9D6F2;
$background: #003559;


nav{
   background-color: $background;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;  
   ul{
        display: inline-block;
        list-style: none;
        margin-top: 20vh;
   }

   li{
        margin-top: 10vh;
   }
}